@import url('~/app.css');

.menu-title{
    font-size:12;
    text-align: center;
    width:100%;
    height: 20;
    border-radius: 3;
}
.view-common {
    font-size:14;
}
.bottom-content{
    margin-right: 6;
    margin-bottom:-10;
}
.bottom-content .forecast-icon{
    font-size:35;
}
.forecast-details{
    margin: 35 10 0 10;
    padding: 0 10 5 10;
}
.hourly-forecast{
    font-size: 11;
}
.daily-forecast{
    font-size: 15;
}
.hourly-forecast #forecast-icon-1,
.hourly-forecast #forecast-icon-2,
.hourly-forecast #forecast-icon-3{
    font-size: 22;
}
.daily-forecast #forecast-icon-1,
.daily-forecast #forecast-icon-2,
.daily-forecast #forecast-icon-3{
    font-size: 22;
}

/******** Current Weather *************/
.temp{
    font-size: 75;
    height: 70;
}
.degree{
    font-size: 70;
}
.current-details{
    font-size:14;
    margin-bottom: 15;
}
.summary-label{
    font-size: 14;
}
.details-daily-scroll{
    height: 120;
    margin-top:5;
}

.fade-slide-in{
    animation-name: fadeslidein;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}
.fade-slide-out{
    animation-name: fadeslideout;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}